<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon-container icon-container--small">
      <svg class="icon icon--chevron collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, facere?
  </div>
</div>
<script src="js/main.js"></script>
